VITE_SUPABASE_URL="https://gasefpffqkwdlplqsqgd.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdhc2VmcGZmcWt3ZGxwbHFzcWdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA4MzMwNTcsImV4cCI6MjA4NjQwOTA1N30.bgjyA1480UmqtxDwRaD7uFYUBBfJzruQ90nfi1hm2tk"
VITE_SUPABASE_REDIRECT_URL="http://127.0.0.1:54321/auth/v1/callback"